.align,
.align-off {
    display: flex;
    gap: 5px;
    max-height: 750px;
}

.align > *,
.align-off > div {
    min-width:0;
    max-width:50vw;
}

.align-off p {
    word-break: break-word;
    overflow-wrap: break-word;
    margin:0;
}

h1 {
    display: block;
    clear: both;
    position: relative;
    z-index: 10;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    display: block !important;
    text-align: center !important;
    width: 100% !important;
    background-color: yellow !important;
}

.align:nth-child(even){
    flex-direction:row-reverse;
}