* {
    box-sizing: border-box;
}

.align,
.align-off {
    display: flex !important;
    gap: 5px;
    max-height: 750px;
}

.align > *,
.align-off > div {
    min-width:0;
    flex: 1 1 33.3%;
}

.align-off p {
    word-break: break-word;
    overflow-wrap: break-word;
    margin:0;
}

.align-off h2 {
    width: auto !important;
}

div:has(> img) {
    text-align: center;
}

.align-off div:has(p) {
    align-self: center;
}


h1 {
    display: block;
    clear: both;
    position: relative;
    z-index: 10;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
    display: block !important;
    text-align: center !important;
    width: 100% !important;
}

h1 sup {
    vertical-align: super !important;
    font-size: 0.6em !important;
    margin-left: 2px !important;
}

.align:nth-child(even){
    flex-direction:row-reverse;
}

.pic img {
    max-height: 50%;
    width: auto;
}

div.align-off,
div.align {
    max-height: fit-content;
}