.align,
.align-off {
    display: flex;
    gap: 5px;
    max-height: 750px;
}

.align > *,
.align-off > div {
    min-width:0;
    max-width:(vw/2);
}

.align:nth-child(even){
    flex-direction:row-reverse;
}